/* Reglas opcionales para escribir codigo css
    1. Posicionamiento
    2. Box model
    3. Tipografía
    4. Visuales
    5. Otros
 */
*
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
            
    }
:root
    {
        /* Colores */
        --bitcoin-orange: #f7931a;
        --soft-orange: #ffe9d5;
        --secondary-blue: #1a9af7;
        --soft-blue: #e7f5ff;
        --warm-black: #201e1c;
        --black: #282623;
        --grey: #bababa;
        --off-white: #faf8f7;
        --just-white: #fff;
        
        /* Fuentes */
        --secondary-font: 'Inter', sans-serif;
    }
html
    {
        font-size: 62.5%;
        font-family: 'DM Sans', sans-serif;
        scroll-behavior: smooth;
    }
header
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 320px;
        height: 334px;
        text-align: center;
        background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%)
    }
header img
    {
        width: 150px;
        height: 24px;
        margin-top: 60px;
        align-self: center;
    }
.header-title-container
    {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 40px;
        text-align: center;
        align-self: center;   
    }
.header-title-container h1
    {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--just-white);
    }
.header-title-container p
    {
            margin-top: 25px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: var(--soft-orange);
    }
.header-title-container .header--button
    {
        position: absolute;
        top: 270px;
        left: calc(50% - 118px );
        display: block;
        margin-top: 35px;
        padding: 15px;
        width: 229px;
        height: 48px;
        background-color: var(--off-white);

        /* Sombra */
        box-shadow: 0px 4px 8px rgba(89,73, 30, 0.16);
        border: none;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--black);
    }
.header--button span
    {
        display: inline-block;
        width: 13px;
        height: 8px;
        margin-left: 10px;
        background-image: url('./assets/icons/Vector.svg');
    }
main 
    {
        width: 100%;
        min-width: 320px;
        height: auto;
        background-color: var(--off-white);
    }
main .main-exchange-container
    {
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 30px;
        text-align: center;
    }
main .main-exchange-container--title
    {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        margin: 0 auto;

    }
main .main-exchange-container .background-img
    {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background-image: url(./assets/img/Bitcoin.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
main .main-exchange-container h2
    {
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
    }
main .main-exchange-container p
    {
        margin-bottom: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        color: #757575;
    }
main .main-tables-container .main-currency-table
    {
        width: 70%;
        min-width: 235px;
        max-width: 500px;
        height: 360px;
        margin: 0 auto; /*no le va agregar un marge de arriba a abajo pero a los lados va a calcularlo */
        font-family: "Inter", sans-serif;
    }
main .main-tables-container .main-currency-table .currency-table-title
    {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: var(--bitcoin-orange);
    }
.currency-table--container
    {
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: 250px;
        margin: 0 auto;
    }
.currency-table--container table 
    {
        width: 100%;
        height: 100%;
    }
.currency-table--container td
    {
        width: 50%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        color: var(--grey);
        background-color: var(--just-white);
    }
.currency-table--container .table__top-left
    {
        border-radius: 15px 0 0 0; /*se debe modificar cada fila de la tabala, para darle el estilo deseado, porque la etiqueta table no es visual, solo es contenedora */
    }
.currency-table--container .table__top-right
    {
        border-radius: 0 15px 0 0;
    }
.currency-table--container .table__bottom-left
    {
        border-radius: 0 0 0 15px;
    }
.currency-table--container .table__bottom-right
    {
        border-radius: 0 0 15px 0;
    }
.currency-table--container .table__right
    {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.7rem;
        color: #757575;
    }
.currency-table--container .down
    {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        background-image: url("./assets/icons/trending-down.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
.currency-table--container .up
    {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        background-image: url("./assets/icons/trending-up.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
main .main-tables-container .main-commisions-table
    {
        width: 70%;
        min-width: 235px;
        max-width: 500px;
        height: 360px;
        margin: 0 auto; /*no le va agregar un marge de arriba a abajo pero a los lados va a calcularlo */
        font-family: "Inter", sans-serif;
    }
main .main-tables-container .main-commisions-table .commisions-table-title
    {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: var(--secondary-blue);
    }
.commission-table--container
    {
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: 250px;
        margin: 0 auto;
    }
.commission-table--container table
    {
        width: 100%;
        height: 100%;
    }
.commission-table--container td
    {
        width: 50%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        color: var(--grey);
        background-color: var(--just-white);
    }
.commission-table--container .table__top-left
    {
        border-radius: 15px 0 0 0; /*se debe modificar cada fila de la tabala, para darle el estilo deseado, porque la etiqueta table no es visual, solo es contenedora */
    }
.commission-table--container .table__top-right
    {
        border-radius: 0 15px 0 0;
    }
.commission-table--container .table__bottom-left
    {
        border-radius: 0 0 0 15px;
    }
.commission-table--container .table__bottom-right
    {
        border-radius: 0 0 15px 0;
    }
.commission-table--container .table__right
    {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.7rem;
        color: #757575;
    }
.table--date
    {
        width: 250px;
        height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 8px;
        background-color: var(--soft-orange);
        border-radius: 8px;
    }
.table--date .paragraph 
    {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: var(--warm-black);
    }
.commissions-table--date
    {
        background-color: #1a9bf734;
    }
.main-product-detail
    {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px; /*20px de arriba a abajo y 10px de derecha a izquierda */
        background-color: var(--warm-black);
    }
.product-detail--batata-logo
    {
        position: absolute;
        width: 40px;
        height: 25px;
        background-image: url(./assets/icons/batata.svg);
        background-size: cover;
        top: -12px;
        left: calc(50% - 20PX);
        /* lo va a linear al centro, y le resto 20px porque el calculo lo toma desde que inicia*/
    }
.product-detail--title
    {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
.product-detail--title h2
    {
        margin-bottom: 20px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--just-white);
    } 
.product-detail--title p
    {
        margin-bottom: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #808080;
    }
.product-detail--card
    {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: var(--black);
        border-radius: 5px;
        box-shadow: -2px 2px 3px 0px #32362f78;
    }
.icon
    {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
.clock
    {
        background-image: url("./assets/icons/clock.svg");
    }
.eye
    {
        background-image: url("./assets/icons/eye.svg");
    }
.money
    {
        background-image: url("./assets/icons/dollar-sign.svg");
    }
.check
    {
        background-image: url("./assets/icons/check-circle.svg");
    }
.product--card-title
    {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--just-white);
    }
.product--card-body
    {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #808080;
    }
.bitcoin-img-container
    {
        width: 100%;
        min-width: 320px;
        height: 50vh;
        background-image: url("./assets/img/bitcoinbaby2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;   
    }
.bitcoin-img-container h2
    {
        padding-top: 60px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--just-white);
        text-align: center;
    }
.main-plans-container
    {

        width: 100%;
        min-width: 320px;
        padding-bottom: 70px;
        text-align: center;
    }
.plans-title
    {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 50px;
    }
.plans-title h2
    {
        padding-top: 50px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
    }
.plans-title p
    {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #757575;
    }
.plans-container--slider
    {
        display: flex; /* da un scroll horizontal */
        height: 316px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
.plans-container--card
    {
        position: relative;
        scroll-snap-align: center;/* cuando voy cambiando en mi scroll, me lo va a centrar inmediatamente a la siguiente tarjeta */
        width: 70%;
        min-width: 190px;
        max-width: 300px;
        height: 250px;
        margin: 50px 5px 0; /* arriba, derecha izquierda, abajo */
        padding: 0 15px; /* arriba y abajo, derecha e izquierda */
        background-color: var(--just-white);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    }
.recommended
    {
        position: absolute;
        width: 120px;
        height: 31px;
        padding: 6px;
        right: calc(50% - 60px);
        top: -15px;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: var(--bitcoin-orange);
        border-radius: 8px;
        color: var(--just-white);
    }
.plan-card-title
    {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: black;
    }
.plan-card-price
    {
        position: relative;
        padding: 5px 0;
        margin-right: 20px;
        font-size: 5.2rem;
        font-weight: bold;
        line-height: 5.3rem;
        color: black;
        word-spacing: 2px;
    }
.plan-card-price span
    {
        font-size: 1.2rem;
        font-weight: 400;
        vertical-align: 32px;
    }
.plan-card-saving
    {
        font-size: 1.2rem;
        color: #757575;
    }
.plan-card-callToAction
    {
        width: 150px;
        height: 48px;
        margin-top: 20px;
        background-color: #faf8f7;
        border: 2px solid var(--bitcoin-orange);
        border-radius: 4px;
        font-family: 'DM Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--black);
    }
.plan-card-callToAction span
    {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background-image: url("./assets/icons/orange-right-arrow.svg");
        vertical-align: text-bottom;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
footer
    {
        display: flex;
        width: 100%;
        min-width: 320px;
        height: 140px;
        background-color: var(--bitcoin-orange);
    }
.secction-footer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: inherit;
    }
.secction-footer li
    {
        padding-bottom: 10px;
        list-style: none;
    }
.footer-left-secction li a 
    {
        text-decoration: none;
        color: var(--off-white);
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;
    }
.footer-left-secction .linkedin
    {
        margin-right: 18px;
    }
.footer-right-secction img
    {
        width: 35px;
        height: 35px;
        padding-bottom: 10px;
        /* background-image: url("./assets/icons/batata.svg"); */
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
.footer-right-secction p
    {
        color: var(--off-white);
        font-size: 0.8rem;
    }
/* Reglas opcionales para escribir codigo css
    1. Posicionamiento
    2. Box model
    3. Tipografía
    4. Visuales
    5. Otros
 */